# ══════════════════════════════════════════════════════
# SocialGuard — Python Requirements
# Install with: pip install -r requirements.txt

# Web Framework
Flask==3.0.3
flask_sqlalchemy
flask_login
psycopg2-binary

# Image Processing & ML (CNN)
Pillow==9.5.0
numpy==1.26.4

# Utilities
Werkzeug==3.0.3
python-dotenv==1.0.1

gunicorn